{% extends "layout.html" %}


{% block body %}

<h3>Azat TEKÇE</h3>
<hr>

<p>
2013-2014 Çorlu Mühendilsik Fakültesi Bilgisayar Mühendislğinden mezun oldum. 2013 yılından beri yazılım alanında çalışıyorum. 
Bu siteyi kendim yeni öğrendiğim python ile geliştiridim. Bilgi paylaşmı amacıyla bu siteyi hayata geçiridm. 
</p>
<div>

<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="https://azattekce.github.io/mycv/"></iframe>
</div>


{% endblock body %}
