<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">YB Blog</a>
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/about">Hakkımızda</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'articles:dashboard' %}">Makaleler</a>
          </li>
        
      </ul>

   <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
           <li class="nav-item active">
           <p  class="nav-link"> Hoş geldiniz,{{request.user.username}}</p>
            </li>           
          <li class="nav-item active">
           
            <a class="nav-link" href="{% url 'articles:dashboard'  %}">Kontrol Paneli</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'users:logout'  %}">Çıkış Yap</a>
          </li>
          {% else %}

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'users:login'  %}">Giriş Yap</a>
          </li>
          {% endif %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'users:register'  %}">Kayıt Ol</a>
          </li>
          
          </ul>
    </div>


  </nav>